/* fonts */

@font-face {
	font-family: 'Mplus 1p';
	src: url('#{$fonts}Mplus1p-Bold.woff2') format('woff2'),
		 url('#{$fonts}Mplus1p-Bold.woff') format('woff'),
		 url('#{$fonts}Mplus1p-Bold.ttf') format('truetype'),
		 url('#{$fonts}Mplus1p-Bold.svg#Mplus1p-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mplus 1p';
	src: url('#{$fonts}Mplus1p-ExtraBold.woff2') format('woff2'),
		 url('#{$fonts}Mplus1p-ExtraBold.woff') format('woff'),
		 url('#{$fonts}Mplus1p-ExtraBold.ttf') format('truetype'),
		 url('#{$fonts}Mplus1p-ExtraBold.svg#Mplus1p-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mplus 1p';
	src: url('#{$fonts}Mplus1p-Regular.woff2') format('woff2'),
		 url('#{$fonts}Mplus1p-Regular.woff') format('woff'),
		 url('#{$fonts}Mplus1p-Regular.ttf') format('truetype'),
		 url('#{$fonts}Mplus1p-Regular.svg#Mplus1p-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}